{% render "anniversary_styles" %}
<div class="view view--half_horizontal aniv-view">
  <div class="layout aniv-layout aniv-layout--center gap--small">
    {% render "anniversary_screen", special_dates: trmnl.plugin_settings.custom_fields_values.special_dates, months_back: trmnl.plugin_settings.custom_fields_values.months_back, months_forward: trmnl.plugin_settings.custom_fields_values.months_forward, trmnl: trmnl, mode: "half_horizontal", compact: true %}
  </div>
  <div class="title_bar">
    <img class="image" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCIgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0Ij4KICA8bGluZSB4MT0iOCIgeTE9IjMyIiB4Mj0iNTYiIHkyPSIzMiIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgogIDxjaXJjbGUgY3g9IjE2IiBjeT0iMzIiIHI9IjciIGZpbGw9IiMwMDAwMDAiLz4KICA8Y2lyY2xlIGN4PSIzNSIgY3k9IjMyIiByPSI2IiBmaWxsPSIjZmZmZmZmIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMy41Ii8+CiAgPGNpcmNsZSBjeD0iNTMiIGN5PSIzMiIgcj0iNiIgZmlsbD0iI2ZmZmZmZiIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjMuNSIvPgo8L3N2Zz4K" />
    <span class="title">Anniversary Timeline</span>
    <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
  </div>
</div>
