{% render "anniversary_styles" %}
<div class="view view--quadrant" style="display: flex; flex-direction: column; height: 100%;">
  <div class="layout" style="flex: 1; display: flex; flex-direction: column; min-height: 0;">
    {% render "anniversary_screen", special_dates: trmnl.plugin_settings.custom_fields_values.special_dates, months_back: trmnl.plugin_settings.custom_fields_values.months_back, months_forward: trmnl.plugin_settings.custom_fields_values.months_forward, trmnl: trmnl, mode: "quadrant", compact: true %}
  </div>
  <div class="title_bar">
    <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg" />
    <span class="title">Anniversary Timeline</span>
    <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
  </div>
</div>
